<!-- Vista principal del proyecto-->

<section id="home">
    <div id="global-status" class="home-pot">
        <h2>Eventos programados</h2>

        <div class="event-list">
            <div class="event green">
                <p>Riego de celda 4</p>
            </div>
            <div class="event green">
                <p>Riego de celda 5</p>
            </div>
            <div class="event blue">
                <p>Comprobación de humedad</p>
            </div>
        </div>
    </div>

    <div id="water-status" class="home-pot">
        <h2>Control del agua</h2>
        <div class="water-information">
            <div class="water-container">
                <div class="water-level">
                </div>
                <div class="water-recipient">
                </div>
            </div>

            <div class="water-content">
                <div class="column">
                    <h3>Volumen disponible</h3>
                    <label>203 l</label>
                </div>
                <div class="column">
                    <h3>Último riego</h3>
                    <label>24-12-2016 23:34</label>
                </div>
                <div class="column">
                    <h3>Historial</h3>
                    <label>203 l</label>
                </div>
            </div>
        </div>
    </div>

    <div id="pot-status" class="home-pot">
        <h2>Plantas</h2>
        <div class="plant-matrix">
            <div class="column">
                <div class="plant-pot"></div>
                <div class="plant-pot"></div>
                <div class="plant-pot"></div>
                <div class="plant-pot"></div>
            </div>
            <div class="robot">
            </div>
            <div class="column">
                <div class="plant-pot"></div>
                <div class="plant-pot"></div>
                <div class="plant-pot"></div>
                <div class="plant-pot"></div>
            </div>
            <div class="column">
                <div class="plant-pot"></div>
                <div class="plant-pot"></div>
                <div class="plant-pot"></div>
                <div class="plant-pot"></div>
            </div>
            <div class="robot">
            </div>
            <div class="column">
                <div class="plant-pot"></div>
                <div class="plant-pot"></div>
                <div class="plant-pot"></div>
                <div class="plant-pot"></div>
            </div>
        </div>
    </div>
</section>
