<section id="login">
    <header>
        <div class="panel-header">
            <h1>my<strong>Groot</strong></h1>
        </div>
    </header>
    <div class="login-form">
        <h2>Login</h2>
        <input class="groot-input" placeholder="Email"/>
        <input class="groot-input" placeholder="Contraseña"/>
        <button class="groot-button">Aceptar</button>
    </div>
    <footer>
        <p>Hecho con <strong>amor</strong> y <strong>cafeina</strong> por Miguel Campo, Álvaro López y Daniel Ávila</p>
    </footer>
</section>
